<!-- ********************
My code starts here
***********************-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>

<body>
    <h1><%= pageTitle %></h1>

    <p><%= article.title %></p>
    <p><%= article.subtitle %></p>
    <p><%= article.textbox %></p>
    <p><%= article.author %></p>
    <p><%= article.likes %></p>
    <p><%= article.published_date %></p>
    <a href="/reader">Go back</a>
    <a href="/reader/like-article/<%= article.id %>">Like</a>

    <form action="/reader/save-comment/<%= article.id %>" method="POST">
        <label for="firstName">First name: </label><br>
        <input type="text" name="firstName" required><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" name="lastName"c><br>
        <label for="commentText">Comment:</label><br>
        <textarea  name="commentText" required></textarea><br>
        <input type="submit" value="Comment">
    </form>

    <h2>Comments</h2>
    <ul>
        <% comments.forEach(function(comment) { %>
            <li>
                <p><%= comment.first_name %></p>
                <p><%= comment.last_name %></p>
                <p><%= comment.comment %></p>
                <p><%= comment.creation_date %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>

<!-- ********************
My code ends here
***********************-->