<!-- ********************
My code starts here
***********************-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= data.blog.title %></h1>
    <p><%= data.blog.subtitle %></p>
    <p><%= data.blog.author %></p>
    <h2><%= title %></h2>
    <a href="/author/settings">Settings page</a>
    <br>
    <a href="/author/create-new-draft">Create new draft</a>

    <!-- Published Articles -->
    <h2>Published</h2>
    <ul>
        <% data.articles.forEach(function(article) { %>
            <% if (article.published) { %>
                <li>
                    <p><%= article.title %></p>
                    <p><%= article.subtitle %></p>
                    <p><%= article.article_text %></p>
                    <p><%= article.author %></p>
                    <p><%= article.likes %></p>
                    <p><%= article.creation_date %></p>
                    <p><%= article.last_modified_date %></p>
                    <p><%= article.published_date %></p>
                    <a href="/author/delete-article/<%= article.article_id %>">Delete Article</a>
                </li>
            <% } %>
         <% }); %> 
    </ul>
    
    <!-- Draft Articles -->
    <h2>Drafts</h2>
    <ul>
        <% data.articles.forEach(function(article) { %>
            <% if (! article.published) { %>
                <li>
                    <p><%= article.title %></p>
                    <p><%= article.subtitle %></p>
                    <p><%= article.article_text %></p>
                    <p><%= article.author %></p>
                    <p><%= article.creation_date %></p>
                    <p><%= article.last_modified_date %></p>
                    <a href="/author/delete-article/<%= article.article_id %>">Delete Article</a> <br>
                    <a href="/author/publish-article/<%= article.article_id %>">Publish Article</a>
                </li>
            <% } %>
         <% }); %> 
    </ul>
</body>
</html>

<!-- ********************
My code ends here
***********************-->