<!-- ********************
My code starts here
***********************-->
<%- include('base/header') -%>

<div class="main-bar">
    <h1 class="page-title"><%= pageTitle %></h1>
    <div class="tool"><a  href="/author"><i class="fa-solid fa-arrow-left fa-lg"></i></a></div>
</div>

<!-- Article Info -->
<div class="article-dates-edit">
    <span class="article-creation-date"><strong>Creation date:</strong>
        <%= new Date(article.creation_date).toLocaleString() %></span>,
    <span class="article-last-modified-date"><strong>Last modified:</strong>
        <%= new Date(article.last_modified_date).toLocaleString() %></span>
    <% if( article.published ){ %>
        <span class="article-published-date"><strong>Publication date:</strong>
            ,<%= new Date(article.published_date).toLocaleString() %></span>
    <% } %>
</div>

<!-- Article Form -->
<form action="/author/save-article/<%= article.id %>" method="POST">
    <label class="form-label" for="articleTitle">Title:</label><br>
    <input class="form-control" type="text" name="articleTitle" value="<%= article.title %>" required><br>
    <label class="form-label" for="articleSubtitle">Subtitle:</label><br>
    <input class="form-control" type="text" name="articleSubtitle" value="<%= article.subtitle %>" required><br>
    <label class="form-label" for="articleAuthor">Author:</label><br>
    <input class="form-control" type="text" name="articleAuthor" value="<%= article.author %>" required><br>
    <label class="form-label" for="articleText">Text:</label><br>
    <textarea class="form-control" rows="25" name="articleText" required><%= article.textbox %></textarea><br>
    <input class="btn btn-success" type="submit" value="Save">
</form>

<%- include('base/footer') -%>
<!-- ********************
My code ends here
***********************-->