<!-- ********************
My code starts here
***********************-->
<%- include('base/header') -%>

<h1><%= pageTitle %></h1>

<!-- Blog Info -->
<p><%= blog.title %></p>
<p><%= blog.subtitle %></p>
<p><%= blog.author %></p>


<!-- Published Articles -->
<h2>Published</h2>
<ul>
    <% articles.forEach(function(article) { %>
        <li>
            <p><%= article.title %></p>
            <p><%= article.subtitle %></p>
            <p><%= article.textbox %></p>
            <p><%= article.author %></p>
            <p><%= article.likes %></p>
            <p><%= article.published_date %></p>
            <a href="/reader/<%= article.id %>"> Read More</a>
        </li>
    <% }) %>
</ul>

<%- include('base/footer') -%>
<!-- ********************
My code ends here
***********************-->