<!-- ********************
My code starts here
***********************-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= pageTitle %></h1>

    <a href="/author">Go back</a>

    <form action="/author/edit-settings" method="POST">
        <label for="blogTitle">Blog title:</label><br>
        <input type="text" name="blogTitle" value="<%= blog.title %>"><br>
        <label for="blogSubtitle">Blog subtitle:</label><br>
        <input type="text" name="blogSubtitle" value="<%= blog.subtitle %>"><br>
        <label for="blogAuthor">Blog author:</label><br>
        <input type="text" name="blogAuthor" value="<%= blog.author %>"><br>
        <input type="submit" value="Update">
    </form>

</body>
</html>

<!-- ********************
My code ends here
***********************-->