<!-- ********************
My code starts here
***********************-->
<%- include('base/header') -%>

<h1><%= pageTitle %></h1>

<a href="/author">Go back</a>

<!-- Settings form -->
<form action="/author/edit-settings" method="POST">
    <label for="blogTitle">Blog title:</label><br>
    <input type="text" name="blogTitle" value="<%= blog.title %>"><br>
    <label for="blogSubtitle">Blog subtitle:</label><br>
    <input type="text" name="blogSubtitle" value="<%= blog.subtitle %>"><br>
    <label for="blogAuthor">Blog author:</label><br>
    <input type="text" name="blogAuthor" value="<%= blog.author %>"><br>
    <input type="submit" value="Update">
</form>

<%- include('base/header') -%>
<!-- ********************
My code ends here
***********************-->